@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    text-align: center;
    color: #838383c9;
    font-family: 'Open Sans', sans-serif;
    
}


body {
    /* background-image: url('https://w.wallhaven.cc/full/3z/wallhaven-3zv2dd.png'); */
}

#main {
    position: fixed;
    width: 55%;
}


#header {
    text-align: center;
    margin-top: 30px;
    /* margin: auto; */
    font-size: 39px;
    color: rgb(0, 0, 0);
}

.center-align {
    text-align: center;
}


p {
    font-family: 'Poppins', sans-serif;
    /* color:rgb(0, 0, 0); */
    font-size: 27px;
}

a, a:visited {
    color: rgb(255, 255, 255);
}



pre {
    padding: 0;
    position: fixed;
    top: 40px;
    right: 5px;
    width: 46% + 1px;

    
    display: flex;
    list-style: none;
    text-decoration: none;

    border: #000 solid 2px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;

    line-height: 10px;

    text-align: left;
}

code {
    margin-left: 10px;
    padding-left: 10px;

    text-align: left;
    color: #000;

}
