@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    /* color: #838383c9; */
    font-family: 'Open Sans', sans-serif
}

body {
    margin: 0px;
    background-color: #bbf5ff;
    /* background-image: url('https://w.wallhaven.cc/full/3z/wallhaven-3zv2dd.png'); */
}

header {
    color: white;
    background-color: rgb(64, 0, 255);
    text-align: center;
    padding: 5px;
}

header a {
    color: inherit;
    text-decoration: inherit;
}

nav {
    overflow: hidden;
    background-color: #3dafff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    color: white;
    float: left;
    text-align: center;
    display: block;
    padding: 10px 10px;
    border-right: 1px solid rgb(60, 138, 255);
}

nav a.active {
    background-color: rgb(0, 81, 255);
    color: #251501;
}

nav a:hover {
    background-color: #80ecff;
    color: #000;
}


section {
    float: left;
    position: sticky;
    display: block;
    background-color: #ffffff;
    padding: 10px 10px;
    margin: 10px 10px;

    /*
    position: sticky;
    width: 25%;
    float: left;
    display: block;
    background-color: #ffffff;
    margin: 10px 10px;
    padding: 5px 20px; */
}



footer {
    float: left;
    display: block;
    background-color: #40afff;
    color: white;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

footer div {
    padding: 10px 10px;
}

/*
#main {
    position: fixed;
    width: 55%;
}


#header {
    margin-top: 30px;
    margin: auto;
    font-size: 39px;
    color: rgb(0, 0, 0);
}

.center-align {
    text-align: center;
}


p {
    font-family: 'Poppins', sans-serif;
    color:rgb(0, 0, 0);
    font-size: 27px;
}

a, a:visited {
    color: rgb(255, 255, 255);
}



pre {
    padding: 0;
    position: fixed;
    display: flex;
    list-style: none;
    text-decoration: none;

    border: #000 solid 2px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    line-height: 10px;
    text-align: left;
}

code {
    margin-left: 10px;
    padding-left: 10px;

    text-align: left;
    color: #000;
}
*/
